[data-cellid="grid_footcell_field1"][data-page="arquivos_list"][data-cellid="grid_footcell_field1"][data-page="arquivos_list"][data-cellid="grid_footcell_field1"][data-page="arquivos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="arquivos_list"][data-cellid="grid_footcell_field2"][data-page="arquivos_list"][data-cellid="grid_footcell_field2"][data-page="arquivos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="arquivos_list"][data-cellid="grid_footcell_field3"][data-page="arquivos_list"][data-cellid="grid_footcell_field3"][data-page="arquivos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="arquivos_list"][data-cellid="grid_footcell_field4"][data-page="arquivos_list"][data-cellid="grid_footcell_field4"][data-page="arquivos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="arquivos_list"][data-cellid="grid_footcell_field5"][data-page="arquivos_list"][data-cellid="grid_footcell_field5"][data-page="arquivos_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="arquivos_list"][data-cellid="grid_headcell_checkbox"][data-page="arquivos_list"][data-cellid="grid_headcell_checkbox"][data-page="arquivos_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="arquivos_list"][data-cellid="grid_headcell_icons"][data-page="arquivos_list"][data-cellid="grid_headcell_icons"][data-page="arquivos_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="arquivos_list"][data-cellid="grid_cell_icons"][data-page="arquivos_list"][data-cellid="grid_cell_icons"][data-page="arquivos_list"] {
  white-space: nowrap;
}
[data-page="arquivos_list"][data-itemid="simple_grid_field1"] {
  white-space: nowrap;
}
[data-page="arquivos_list"][data-itemid="simple_grid_field2"] {
  white-space: nowrap;
}
[data-page="arquivos_list"][data-itemid="text1"] {
  font-weight: bold;
  font-size: 26px;
}
[data-page="arquivos_list"][data-itemid="text"] {
  color: #2617dc;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
}
[data-page="arquivos_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


