[data-cellid="section_c"][data-page="escolas_view"][data-cellid="section_c"][data-page="escolas_view"][data-cellid="section_c"][data-page="escolas_view"] {
  white-space: nowrap;
}
[data-cellid="section_c15"][data-page="escolas_view"][data-cellid="section_c15"][data-page="escolas_view"][data-cellid="section_c15"][data-page="escolas_view"] {
  white-space: nowrap;
}
[data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"] > * > label,
[data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"] > * > * > input,
[data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"] > * > * > textarea,
[data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"] > * > * > select,
[data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"] > * > * > .r-readonly-control,
[data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"][data-page="escolas_view"][data-itemid="integrated_edit_field1"] > * > * > * > select {
  white-space: nowrap;
}
[data-page="escolas_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


