[data-cellid="section_c"][data-page="escolas_edit"][data-cellid="section_c"][data-page="escolas_edit"][data-cellid="section_c"][data-page="escolas_edit"] {
  white-space: nowrap;
}
[data-cellid="section_c15"][data-page="escolas_edit"][data-cellid="section_c15"][data-page="escolas_edit"][data-cellid="section_c15"][data-page="escolas_edit"] {
  white-space: nowrap;
}
[data-cellid="section_c16"][data-page="escolas_edit"][data-cellid="section_c16"][data-page="escolas_edit"][data-cellid="section_c16"][data-page="escolas_edit"] {
  white-space: nowrap;
}
[data-cellid="section_c17"][data-page="escolas_edit"][data-cellid="section_c17"][data-page="escolas_edit"][data-cellid="section_c17"][data-page="escolas_edit"] {
  white-space: nowrap;
}
[data-cellid="section_c18"][data-page="escolas_edit"][data-cellid="section_c18"][data-page="escolas_edit"][data-cellid="section_c18"][data-page="escolas_edit"] {
  white-space: nowrap;
}
[data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"] {
  width: 500px;
}
[data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"] > * > label,
[data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"] > * > * > input,
[data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"] > * > * > textarea,
[data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"] > * > * > select,
[data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"] > * > * > .r-readonly-control,
[data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"][data-page="escolas_edit"][data-itemid="integrated_edit_field1"] > * > * > * > select {
  white-space: nowrap;
}
[data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"] {
  width: 500px;
}
[data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"] > * > label,
[data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"] > * > * > input,
[data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"] > * > * > textarea,
[data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"] > * > * > select,
[data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"] > * > * > .r-readonly-control,
[data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"][data-page="escolas_edit"][data-itemid="integrated_edit_field2"] > * > * > * > select {
  white-space: nowrap;
}
[data-page="escolas_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


