[data-cellid="grid_footcell_field"][data-page="np_escola_masterprint"][data-cellid="grid_footcell_field"][data-page="np_escola_masterprint"][data-cellid="grid_footcell_field"][data-page="np_escola_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field10"][data-page="np_escola_masterprint"][data-cellid="grid_headcell_field10"][data-page="np_escola_masterprint"][data-cellid="grid_headcell_field10"][data-page="np_escola_masterprint"] {
  width: 250px;
  white-space: nowrap;
}
[data-cellid="grid_headcell_field11"][data-page="np_escola_masterprint"][data-cellid="grid_headcell_field11"][data-page="np_escola_masterprint"][data-cellid="grid_headcell_field11"][data-page="np_escola_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field17"][data-page="np_escola_masterprint"][data-cellid="grid_headcell_field17"][data-page="np_escola_masterprint"][data-cellid="grid_headcell_field17"][data-page="np_escola_masterprint"] {
  white-space: nowrap;
}
[data-page="np_escola_masterprint"][data-itemid="grid_field"] {
  width: 250px;
  white-space: nowrap;
}
[data-page="np_escola_masterprint"][data-itemid="grid_field2"] {
  width: 250px;
}
[data-page="np_escola_masterprint"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


