[data-cellid="grid_footcell_field1"][data-page="np_list"][data-cellid="grid_footcell_field1"][data-page="np_list"][data-cellid="grid_footcell_field1"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="np_list"][data-cellid="grid_footcell_field2"][data-page="np_list"][data-cellid="grid_footcell_field2"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="np_list"][data-cellid="grid_footcell_field3"][data-page="np_list"][data-cellid="grid_footcell_field3"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="np_list"][data-cellid="grid_headcell_checkbox"][data-page="np_list"][data-cellid="grid_headcell_checkbox"][data-page="np_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="np_list"][data-cellid="grid_headcell_icons"][data-page="np_list"][data-cellid="grid_headcell_icons"][data-page="np_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="np_list"][data-cellid="grid_cell_icons"][data-page="np_list"][data-cellid="grid_cell_icons"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_details"][data-page="np_list"][data-cellid="grid_cell_details"][data-page="np_list"][data-cellid="grid_cell_details"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="np_list"][data-cellid="grid_footcell_field4"][data-page="np_list"][data-cellid="grid_footcell_field4"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="np_list"][data-cellid="grid_footcell_field7"][data-page="np_list"][data-cellid="grid_footcell_field7"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="np_list"][data-cellid="grid_footcell_field8"][data-page="np_list"][data-cellid="grid_footcell_field8"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field13"][data-page="np_list"][data-cellid="grid_footcell_field13"][data-page="np_list"][data-cellid="grid_footcell_field13"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field14"][data-page="np_list"][data-cellid="grid_footcell_field14"][data-page="np_list"][data-cellid="grid_footcell_field14"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field16"][data-page="np_list"][data-cellid="grid_footcell_field16"][data-page="np_list"][data-cellid="grid_footcell_field16"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field17"][data-page="np_list"][data-cellid="grid_footcell_field17"][data-page="np_list"][data-cellid="grid_footcell_field17"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field19"][data-page="np_list"][data-cellid="grid_footcell_field19"][data-page="np_list"][data-cellid="grid_footcell_field19"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field20"][data-page="np_list"][data-cellid="grid_footcell_field20"][data-page="np_list"][data-cellid="grid_footcell_field20"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field"][data-page="np_list"][data-cellid="grid_footcell_field"][data-page="np_list"][data-cellid="grid_footcell_field"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field"][data-page="np_list"][data-cellid="grid_cell_field"][data-page="np_list"][data-cellid="grid_cell_field"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field3"][data-page="np_list"][data-cellid="grid_cell_field3"][data-page="np_list"][data-cellid="grid_cell_field3"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field1"][data-page="np_list"][data-cellid="grid_cell_field1"][data-page="np_list"][data-cellid="grid_cell_field1"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="np_list"][data-cellid="grid_footcell_field5"][data-page="np_list"][data-cellid="grid_footcell_field5"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="np_list"][data-cellid="grid_footcell_field6"][data-page="np_list"][data-cellid="grid_footcell_field6"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field18"][data-page="np_list"][data-cellid="grid_footcell_field18"][data-page="np_list"][data-cellid="grid_footcell_field18"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field13"][data-page="np_list"][data-cellid="grid_cell_field13"][data-page="np_list"][data-cellid="grid_cell_field13"][data-page="np_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field13"][data-page="np_list"][data-cellid="grid_headcell_field13"][data-page="np_list"][data-cellid="grid_headcell_field13"][data-page="np_list"] {
  white-space: nowrap;
}
[data-page="np_list"][data-itemid="grid_field1"] {
  color: #e33f29;
  font-weight: bold;
  font-size: 14px;
}
[data-page="np_list"][data-itemid="grid_field_label1"] {
  color: #e33f29;
  font-weight: bold;
  font-size: 16px;
}
[data-page="np_list"][data-itemid="grid_field_label2"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="np_list"][data-itemid="text"] {
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
}
[data-page="np_list"][data-itemid="grid_field3"] {
  font-weight: bold;
  white-space: nowrap;
}
[data-page="np_list"][data-itemid="grid_field_label3"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="np_list"][data-itemid="grid_field4"] {
  font-weight: bold;
  white-space: nowrap;
}
[data-page="np_list"][data-itemid="grid_field_label4"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="np_list"][data-itemid="grid_field_label7"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="np_list"][data-itemid="grid_field8"] {
  font-weight: bold;
  white-space: nowrap;
}
[data-page="np_list"][data-itemid="grid_field_label8"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="np_list"][data-itemid="grid_field_totals"] {
  font-weight: bold;
}
[data-page="np_list"][data-itemid="grid_field_totals1"] {
  font-weight: bold;
}
[data-page="np_list"][data-itemid="grid_field_totals2"] {
  font-weight: bold;
}
[data-page="np_list"][data-itemid="grid_field"] {
  font-weight: bold;
  white-space: nowrap;
}
[data-page="np_list"][data-itemid="grid_field_label"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="np_list"][data-itemid="grid_field_totals3"] {
  font-weight: bold;
}
[data-page="np_list"][data-itemid="grid_field5"] {
  white-space: nowrap;
}
[data-page="np_list"][data-itemid="grid_field_label5"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="np_list"][data-itemid="grid_field_label6"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="np_list"][data-itemid="grid_field9"] {
  width: 120px;
}
[data-page="np_list"][data-itemid="grid_field_label9"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="np_list"][data-itemid="grid_field10"] {
  white-space: nowrap;
}
[data-page="np_list"][data-itemid="grid_field_label10"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="np_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


