[data-cellid="top_c1"][data-page="pedidos_escola_masterlist"][data-cellid="top_c1"][data-page="pedidos_escola_masterlist"][data-cellid="top_c1"][data-page="pedidos_escola_masterlist"] {
  white-space: nowrap;
}
[data-cellid="top_c2"][data-page="pedidos_escola_masterlist"][data-cellid="top_c2"][data-page="pedidos_escola_masterlist"][data-cellid="top_c2"][data-page="pedidos_escola_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field"][data-page="pedidos_escola_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field1"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field1"][data-page="pedidos_escola_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field2"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field2"][data-page="pedidos_escola_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field3"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field3"][data-page="pedidos_escola_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field4"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field4"][data-page="pedidos_escola_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field5"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field5"][data-page="pedidos_escola_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field6"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field6"][data-page="pedidos_escola_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field7"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field7"][data-page="pedidos_escola_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field8"][data-page="pedidos_escola_masterlist"][data-cellid="grid_footcell_field8"][data-page="pedidos_escola_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field12"][data-page="pedidos_escola_masterlist"][data-cellid="grid_cell_field12"][data-page="pedidos_escola_masterlist"][data-cellid="grid_cell_field12"][data-page="pedidos_escola_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="pedidos_escola_masterlist"][data-cellid="grid_headcell_icons"][data-page="pedidos_escola_masterlist"][data-cellid="grid_headcell_icons"][data-page="pedidos_escola_masterlist"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons1"][data-page="pedidos_escola_masterlist"][data-cellid="grid_headcell_icons1"][data-page="pedidos_escola_masterlist"][data-cellid="grid_headcell_icons1"][data-page="pedidos_escola_masterlist"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="pedidos_escola_masterlist"][data-cellid="grid_cell_icons"][data-page="pedidos_escola_masterlist"][data-cellid="grid_cell_icons"][data-page="pedidos_escola_masterlist"] {
  white-space: nowrap;
}
[data-page="pedidos_escola_masterlist"][data-itemid="masterlist_header"] {
  color: #f7ecec;
  font-weight: normal;
  font-size: 14px;
  white-space: nowrap;
}
[data-page="pedidos_escola_masterlist"][data-itemid="back_master"] > a {
  text-shadow: none;
  color: #44eb30;
  font-weight: bold;
}
[data-page="pedidos_escola_masterlist"][data-itemid="simple_grid_field1"] {
  white-space: nowrap;
}
[data-page="pedidos_escola_masterlist"][data-itemid="simple_grid_field4"] {
  white-space: nowrap;
}
[data-page="pedidos_escola_masterlist"][data-itemid="simple_grid_field5"] {
  white-space: nowrap;
}
[data-page="pedidos_escola_masterlist"][data-itemid="simple_grid_field6"] {
  white-space: nowrap;
}
[data-page="pedidos_escola_masterlist"][data-itemid="simple_grid_field9"] {
  white-space: nowrap;
}
[data-page="pedidos_escola_masterlist"][data-itemid="simple_grid_field14"] {
  white-space: nowrap;
}
[data-page="pedidos_escola_masterlist"][data-itemid="simple_grid_field15"] {
  white-space: nowrap;
}
[data-page="pedidos_escola_masterlist"][data-itemid="simple_grid_field16"] {
  white-space: nowrap;
}
[data-page="pedidos_escola_masterlist"][data-itemid="simple_grid_field17"] {
  color: #06fa2e;
  white-space: nowrap;
}
[data-page="pedidos_escola_masterlist"][data-itemid="simple_grid_field18"] {
  white-space: nowrap;
}
[data-page="pedidos_escola_masterlist"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


