[data-cellid="below-grid_c1"][data-page="pedidos_print1"][data-cellid="below-grid_c1"][data-page="pedidos_print1"][data-cellid="below-grid_c1"][data-page="pedidos_print1"] {
  background-color: #d4cbcb;
}
[data-cellid="grid_cell_field"][data-page="pedidos_print1"][data-cellid="grid_cell_field"][data-page="pedidos_print1"][data-cellid="grid_cell_field"][data-page="pedidos_print1"] {
  background-color: #ede7e7;
}
[data-cellid="grid_footcell_field"][data-page="pedidos_print1"][data-cellid="grid_footcell_field"][data-page="pedidos_print1"][data-cellid="grid_footcell_field"][data-page="pedidos_print1"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field1"][data-page="pedidos_print1"][data-cellid="grid_cell_field1"][data-page="pedidos_print1"][data-cellid="grid_cell_field1"][data-page="pedidos_print1"] {
  background-color: #ede7e7;
}
[data-cellid="grid_footcell_field1"][data-page="pedidos_print1"][data-cellid="grid_footcell_field1"][data-page="pedidos_print1"][data-cellid="grid_footcell_field1"][data-page="pedidos_print1"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field3"][data-page="pedidos_print1"][data-cellid="grid_cell_field3"][data-page="pedidos_print1"][data-cellid="grid_cell_field3"][data-page="pedidos_print1"] {
  background-color: #ede7e7;
}
[data-cellid="grid_footcell_field3"][data-page="pedidos_print1"][data-cellid="grid_footcell_field3"][data-page="pedidos_print1"][data-cellid="grid_footcell_field3"][data-page="pedidos_print1"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field5"][data-page="pedidos_print1"][data-cellid="grid_cell_field5"][data-page="pedidos_print1"][data-cellid="grid_cell_field5"][data-page="pedidos_print1"] {
  background-color: #ede7e7;
}
[data-cellid="grid_footcell_field5"][data-page="pedidos_print1"][data-cellid="grid_footcell_field5"][data-page="pedidos_print1"][data-cellid="grid_footcell_field5"][data-page="pedidos_print1"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field8"][data-page="pedidos_print1"][data-cellid="grid_cell_field8"][data-page="pedidos_print1"][data-cellid="grid_cell_field8"][data-page="pedidos_print1"] {
  background-color: #ede7e7;
}
[data-cellid="grid_cell_field13"][data-page="pedidos_print1"][data-cellid="grid_cell_field13"][data-page="pedidos_print1"][data-cellid="grid_cell_field13"][data-page="pedidos_print1"] {
  background-color: #ede7e7;
}
[data-page="pedidos_print1"][data-itemid="master_info"] {
  background-color: transparent;
}
[data-page="pedidos_print1"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


