[data-cellid="grid_footcell_field3"][data-page="pedidos_escola_list"][data-cellid="grid_footcell_field3"][data-page="pedidos_escola_list"][data-cellid="grid_footcell_field3"][data-page="pedidos_escola_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="pedidos_escola_list"][data-cellid="grid_headcell_checkbox"][data-page="pedidos_escola_list"][data-cellid="grid_headcell_checkbox"][data-page="pedidos_escola_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="pedidos_escola_list"][data-cellid="grid_headcell_icons"][data-page="pedidos_escola_list"][data-cellid="grid_headcell_icons"][data-page="pedidos_escola_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="pedidos_escola_list"][data-cellid="grid_cell_icons"][data-page="pedidos_escola_list"][data-cellid="grid_cell_icons"][data-page="pedidos_escola_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_details"][data-page="pedidos_escola_list"][data-cellid="grid_cell_details"][data-page="pedidos_escola_list"][data-cellid="grid_cell_details"][data-page="pedidos_escola_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field"][data-page="pedidos_escola_list"][data-cellid="grid_footcell_field"][data-page="pedidos_escola_list"][data-cellid="grid_footcell_field"][data-page="pedidos_escola_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="pedidos_escola_list"][data-cellid="grid_footcell_field1"][data-page="pedidos_escola_list"][data-cellid="grid_footcell_field1"][data-page="pedidos_escola_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="pedidos_escola_list"][data-cellid="grid_footcell_field2"][data-page="pedidos_escola_list"][data-cellid="grid_footcell_field2"][data-page="pedidos_escola_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="pedidos_escola_list"][data-cellid="grid_footcell_field4"][data-page="pedidos_escola_list"][data-cellid="grid_footcell_field4"][data-page="pedidos_escola_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="pedidos_escola_list"][data-cellid="grid_footcell_field5"][data-page="pedidos_escola_list"][data-cellid="grid_footcell_field5"][data-page="pedidos_escola_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="pedidos_escola_list"][data-cellid="grid_footcell_field6"][data-page="pedidos_escola_list"][data-cellid="grid_footcell_field6"][data-page="pedidos_escola_list"] {
  white-space: nowrap;
}
[data-page="pedidos_escola_list"][data-itemid="add"] > .btn {
  text-shadow: none;
  color: #000000;
}
[data-page="pedidos_escola_list"][data-itemid="delete"] > .btn {
  text-shadow: none;
  color: #e71d1d;
}
[data-page="pedidos_escola_list"][data-itemid="simple_grid_field3"] {
  white-space: nowrap;
}
[data-page="pedidos_escola_list"][data-itemid="grid_field"] {
  white-space: nowrap;
}
[data-page="pedidos_escola_list"][data-itemid="grid_field2"] {
  white-space: nowrap;
}
[data-page="pedidos_escola_list"][data-itemid="grid_field1"] {
  white-space: nowrap;
}
[data-page="pedidos_escola_list"][data-itemid="grid_field_totals"] {
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
}
[data-page="pedidos_escola_list"][data-itemid="grid_field4"] {
  white-space: nowrap;
}
[data-page="pedidos_escola_list"][data-itemid="custom_button"] > .btn {
  text-shadow: none;
  color: #2a812f;
}
[data-page="pedidos_escola_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


