[data-page="relat_rio_anal_tico_de_escolas_rprint"][data-itemid="group_summary_field_label"] {
  font-weight: bold;
}
[data-page="relat_rio_anal_tico_de_escolas_rprint"][data-itemid="group_summary_count1"] {
  font-weight: bold;
}
[data-page="relat_rio_anal_tico_de_escolas_rprint"][data-itemid="group_summary_field_label1"] {
  font-weight: bold;
}
[data-page="relat_rio_anal_tico_de_escolas_rprint"][data-itemid="report_advanced_field_label"] {
  white-space: normal;
}
[data-page="relat_rio_anal_tico_de_escolas_rprint"][data-itemid="page_summary_count"] {
  font-weight: bold;
}
[data-page="relat_rio_anal_tico_de_escolas_rprint"][data-itemid="report_advanced_field_label4"] {
  white-space: nowrap;
}
[data-page="relat_rio_anal_tico_de_escolas_rprint"][data-itemid="report_advanced_field_label1"] {
  white-space: nowrap;
}
[data-page="relat_rio_anal_tico_de_escolas_rprint"][data-itemid="group_summary_count"] {
  font-weight: bold;
}
[data-page="relat_rio_anal_tico_de_escolas_rprint"][data-itemid="global_summary_count"] {
  font-weight: bold;
}
[data-page="relat_rio_anal_tico_de_escolas_rprint"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


